body{
    background-color:rgba(201, 57, 32, 0.662) !important;
}
* {
    padding: 0;
    margin: 0;
  }
  #main-header {
    background-color: black;
    color: white;
    padding: 20px;
    /* padding-left: 30px; */
  }
  #card{
    background-color:rgba(152, 44, 44, 0.845);
  }
  #card-subtitle{
    margin-top: 0rem !important;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  #card-title{
    margin-bottom: 1.5rem;

  }
  #card-text{
    margin-bottom: 5rem;
  }